<!DOCTYPE html>
<html>
<head>
    <title>Return Policy</title>

    <style>
        body{
            font-family:Arial;
            background:#fff8f5;
            padding:40px;
        }

        .box{
            background:white;
            padding:30px;
            border-radius:15px;
        }

        h1{
            color:#d1006f;
        }
    </style>
</head>
<body>

<div class="box">

<h1>Return Policy ↩️</h1>

<p>
If you receive a damaged or incorrect order,
please contact us within 24 hours for support.
</p>

</div>

</body>
</html>